<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZZ_freesbis.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ZZ_freesbis.MySettings>
            <setting name="ParDirSalida" serializeAs="String">
                <value>C:\u\tra\kk23\</value>
            </setting>
            <setting name="ParDirPB" serializeAs="String">
                <value>%TEMP%\ZZ-Pat\PB</value>
            </setting>
            <setting name="ParDirTemporal" serializeAs="String">
                <value>%TEMP%\ZZ-Pat\TMP</value>
            </setting>
            <setting name="ParArchivoEXCEL" serializeAs="String">
                <value>C:\u\tra\excel\Planificacion_10.xls</value>
            </setting>
            <setting name="ParSQL" serializeAs="String">
                <value>SELECT [ProMss] FROM [Hoja1$] where ProIBM='{0}' and  Idioma='{1}'</value>
            </setting>
            <setting name="ParSecreto" serializeAs="String">
                <value>q8H5M8ILz/MiSkEbiBKduvYDRX96JPZsgLIPBmcxJOk=</value>
            </setting>
            <setting name="ParHostUDP" serializeAs="String">
                <value>213.97.57.158</value>
            </setting>
            <setting name="ParPuertoUDP" serializeAs="String">
                <value>50505</value>
            </setting>
            <setting name="ParRecopilarUso" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParIVA" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="ParIRPF" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ParProveedor" serializeAs="String">
                <value>MSS</value>
            </setting>
            <setting name="ParMasDeUnPB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParTarifaPredeterminada" serializeAs="String">
                <value>0.033</value>
            </setting>
            <setting name="ParCorreoGestor" serializeAs="String">
                <value>none@none.com</value>
            </setting>
            <setting name="ParTipoOrigen" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="ParPGHost" serializeAs="String">
                <value>hostname.or.ip.with.dots</value>
            </setting>
            <setting name="ParPGPuerto" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="ParPGBaseDatos" serializeAs="String">
                <value>nombre_base_datos</value>
            </setting>
            <setting name="ParPGUsuario" serializeAs="String">
                <value>usuario</value>
            </setting>
            <setting name="ParPGContrasenya" serializeAs="String">
                <value>EM8M2KyjFoGmB+tXQ/uCrvkzkCfRSp59AMIQvXFZ6kU=</value>
            </setting>
            <setting name="ParSQL_Alternativo" serializeAs="String">
                <value />
            </setting>
            <setting name="SendFText" serializeAs="String">
                <value />
            </setting>
        </ZZ_freesbis.MySettings>
    </userSettings>
</configuration>
